* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

h1{
    color: greenyellow;
    font-size: 50px;
    text-align: center;
    margin: 40px 0px;
    
}

.first-title{
    color: greenyellow;
    font-size: 35px;
    margin-left: 60px;
}

.first-paragraph{
    color: rgb(255, 0, 255);
    margin: 20px 200px 30px 30px;
}
h4{
    color: greenyellow;
    font-size: 25px;
    text-align: center;
}

ul{
    color: rgb(255, 0, 255);
    text-align: center;
    margin-top: 20px;
}
li{
    cursor: pointer;
}
a{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
.seccond-title{
    color: greenyellow;
    font-size: 30px;
    text-align: center;
    margin: 30px 0px;
}
ol{
    color: rgb(255, 0, 255);
    line-height: 30px;
    text-align: center;
    font-size: 25px;
}
.photo-paragraph{
    font-style: italic;
    color: greenyellow;
    margin-left: 20px;
}
img{
    margin: auto;
    cursor: pointer;
}